* {
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

body {
  padding: 4%;
  padding-top: 0;
  margin: 0;
  background-color: white;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo p {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 5vh;
  width: 100%;
  padding: 20px 5%;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}

.outer ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.outer ul li a {
  color: rgb(51, 230, 230);
}

.outer .inner-1 a,
.outer .inner-2 a {
  text-decoration: none;
}

.outer .inner-2 a {
  color: blue;
  font-size: 18px;
  letter-spacing: 1.9px;
}

.vertical-line {
  width: 1px;
  height: 20px;
  background: black;
}

.outer a h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

.outer .inner-3 {
  border: 1px solid #e8e8e8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer .inner-3 a i {
  color: #0290ff;
  font-size: 36px;
  letter-spacing: 1.9px;
}

.inner-2 .active {
  text-decoration: underline !important;
}
